:root {
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  --transition-timing: 0.2s ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

html {
  font-family: "Poppins", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

body {
  background: white;
}

.header-user-actions {
  display: none;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid var(--cultured);
  background-color: #f85606;
}

.actions {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  bottom: 12px;
  /* position: absolute; */
  width: auto;
  margin-left: 12px;
  clear: both;
  box-sizing: border-box;
  z-index: 1111;
}

.login-text {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 1px;
  margin-left: 5px;
  color: white;
}

.signup-text {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 1px;
  margin-left: 5px;
  color: white;
}

.person-outlines {
  color: white;
  margin-right: -20px;
  font-size: 27px;
}

.globe-oulines {
  color: white;
  height: 40px;
  margin-left: 20px;
  font-size: 27px;
}

.cart-outlines {
  color: white;
  height: 40px;
  margin-left: 20px;
  font-size: 27px;
}

.language-container {
  display: flex;
  align-items: center;
  margin-left: 1px;
}

.EN {
  display: flex;
  margin-left: -13px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
}

.down-arrow {
  font-size: 14px;
  vertical-align: middle;
  position: relative;
  left: 1px;
  bottom: 4px;
  float: right;
}

.header-logo {
  display: inline-block;
  width: 140px;
  height: 48px;
  vertical-align: top;
  position: relative;
  bottom: 7px;
  z-index: 1111;
}

.header-search-container {
  width: 746px;
  display: inline-block;
  z-index: 1111;
  position: relative;
}

.header-search-container .search-field {
  font-size: 0.875rem;
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}

.search-btn {
  background: white;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 10px;
  transition: color var(--transition-timing);
}

.search-btn:hover {
  color: var(--salmon-pink);
}

.mobile-bottom-navigation {
  background: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}

.mobile-bottom-navigation .count {
  background: var(--bittersweet);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-navigation-menu {
  background: white;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  visibility: hidden;
  transition: 0.5s ease;
  z-index: 20;
}

.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

@media (min-width: 480px) {
  .header-main {
    padding: 25px 0;
  }

  .mobile-bottom-navigation {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media (min-width: 570px) {
  .header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    margin-bottom: 0;
  }

  .header-search-container {
    min-width: 10px;
    right: auto;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }

  .container {
    width: 1188px;
    min-width: 1188px;
    margin: 0 auto;

    .header-main .container {
      gap: 80px;
    }

    .header-search-container {
      flex-grow: 1;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 980px;
  }

  .header-user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header-user-actions .action-btn {
    /* position: relative; */
    font-size: 35px;
    color: var(--onyx);
    padding: 5px;
  }

  .header-user-actions .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }

  .mobile-bottom-navigation {
    display: none;
  }
}
